html {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 50%, rgba(255,255,255,1) 100%);
}

p, ul {
    text-align: center;
    font-size: 1.4em;
    font-family: sans-serif;
    padding: 0.2em;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 2.5em;
}

.vertical {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

input[type=submit] {
    font-size: 1.4em;
    width: 100%;
    height: 2em;
}