html {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 50%, rgba(255,255,255,1) 100%);
}

.radio_el, .check_el {
    padding: 1.4em;
}

p, ul {
    font-size: 1.4em;
    font-family: sans-serif;
    padding: 0.2em;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 2.5em;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 2.5em;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 2.5em;
}

.vertical {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.submitcontainer {
    padding: 1em;
    margin-top: 2em;
}

input[type=submit] {
    font-size: 2em;
    font-family: sans-serif;
    width: 100%;
    height: 2em;
    align-content: center;
}

input[type=radio] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 0.4em;
    font-size: 2em;
    font-family: sans-serif;
}

input[type=range] {
  /*-webkit-appearance: none;*/
  width: 50%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /*width: 100%;*/
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #616161;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #616161;
}
input[type=range]::-moz-range-track {
  /*width: 100%;*/
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #616161;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  /*width: 100%;*/
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #616161;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #616161;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #616161;
}
input[type=range]:focus::-ms-fill-upper {
  background: #616161;
}

label {
    font-size: 1.8em;
    font-family: sans-serif;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    /*display: inline-block;*/
    line-height: 200%;
}

.textextras {
    font-family: sans-serif;
    font-size: 2em;
    margin: 1em;
}

.textinputdiv {
    margin: 1em;
}

input[type=text] {
    width: 100%;
    height: 1.4em;
    font-family: sans-serif;
    font-size: 1em;
}

.vas_container {
    text-align: center;
    align-content: center;
}

.vaslabel {
    padding: 1em;
}