<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panneau de contrôle</title>
    <script src="{{ url_for('static', filename='js/konva.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        // initialize socketIO
        let socket = io();
    </script>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
      <span class="fs-4">SYM Server<br>Control Room</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
          <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-outline-light btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                  Setup
                </button>
                <div class="collapse" id="home-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal m-3 small align-content-center">
                    <li class="m-3"><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Change video clip</a><span class="badge badge-warning">Not implemented</span></li>
                    <li class="m-3"><a href="#" class="link-light d-inline-flex text-decoration-none rounded">Language</a><span class="badge badge-warning">Not implemented</span></li>
                    <li class="m-3"><a href="#" class="link-warning d-inline-flex text-decoration-none rounded">Restart sever</a></li>
                    <li class="m-3"><a href="#" onclick="stop_server()" class="link-danger d-inline-flex text-decoration-none rounded">Shutdown sever</a></li>
                  </ul>
                    <script>
                        function stop_server() {
                            if (confirm("This action will stop the server. Make sure you saved your data, it might not be recoverable. Are you sure you want to stop the server ?")) {
                                socket.emit('stop_server');
                            }
                        }
                    </script>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-outline-light btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Clients status
                </button>
                <div class="collapse show" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal m-3 small align-content-center">
                    <li class="m-3"><a href="#" onclick="launch_post_phase()" class="link-light d-inline-flex text-decoration-none rounded" id="a_next">Launch Post Phase</a><span class="badge invisible" id="b_next_done">Launched !</span></li>
                      {% for step_and_count in init_stats %}
                        <li class="m-3"><p class="link-light d-inline-flex text-decoration-none rounded" id="{{ step_and_count[2] }}">{{ step_and_count[1] }} : {{ step_and_count[0] }}</p></li>
                      {% endfor %}
                  </ul>
                    <script>
                        // display clients status
                        socket.on('counts', function(data) {
                            data.forEach(step_count => {
                                $('#' + step_count[2]).text(step_count[1] + ' : ' + step_count[0]);
                            });
                        });
                        function launch_post_phase() {
                            socket.emit('next_step', true);
                            $('#b_next_done').removeClass('invisible');
                        }
                    </script>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-outline-light btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Data Management
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal m-3 small align-content-center">
                      <!-- <li class="m-3"><a href="#" onclick="generate_backup()" class="link-light d-inline-flex text-decoration-none rounded">Generate backup</a><span class="badge invisible" id="b_gen_back">done !</span></li> -->
                      <li class="m-3"><a href="#" onclick="generate_data_analysis()" class="link-light d-inline-flex text-decoration-none rounded">Generate excel</a></li>
                      <li class="m-3"><a href="#" onclick="alert_erase()" class="link-danger d-inline-flex text-decoration-none rounded">Wipe out memory</a></li>
                  </ul>
                    <script>
                        function generate_data_analysis() {
                            socket.emit('backup_data');
                            socket.emit('generate_data');
                        }

                        socket.on('backup_confirmed', function () {
                           $('#b_gen_back').removeClass("invisible");
                           setTimeout(function () {
                               $('#b_gen_back').addClass("invisible");
                           }, 1000);
                        });

                        function alert_erase() {
                            if (confirm("This action will erase ALL data from this experiment. Are you sure tou want to proceed ?")) {
                                socket.emit('erase_all_data');
                            }
                        }
                    </script>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-outline-light btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#player-collapse" aria-expanded="true">
                  Video
                </button>
                  <span class="badge badge-warning" id="badge-player-status">Not started</span>
                <div class="collapse show" id="player-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal m-3 small align-content-center">
                    <li class="m-3"><a href="#" onclick="request_play()" class="link-success d-inline-flex text-decoration-none rounded">Start</a></li>
                    <li class="m-3"><a href="#" onclick="request_pause()" class="link-warning d-inline-flex text-decoration-none rounded">Pause</a></li>
                  </ul>
                    <script>
                        function request_play() {
                            socket.emit('req_play');
                        }

                        function request_pause() {
                            socket.emit('req_pause');
                        }

                        socket.on('video_start_ctl', function () {
                            let current_badge = $('#badge-player-status');
                            current_badge.removeClass('badge-warning');
                            current_badge.removeClass('badge-danger')
                            current_badge.addClass('badge-success');
                            current_badge.text('Playing')
                        });

                        socket.on('video_paused_ctl', function() {
                            let current_badge = $('#badge-player-status');
                            current_badge.removeClass('badge-warning');
                            current_badge.removeClass('badge-success')
                            current_badge.addClass('badge-danger');
                            current_badge.text('Paused')
                        });

                        socket.on('video_end_ctl', function () {
                            let current_badge = $('#badge-player-status');
                            current_badge.removeClass('badge-success');
                            current_badge.removeClass('badge-danger')
                            current_badge.addClass('badge-warning');
                            current_badge.text('Ended')
                        })
                    </script>
                </div>
              </li>
        </ul>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
        <p size="8"><a href="https://gitlab.huma-num.fr/cdelestage/sym_server">Charles-Alexandre Delestage</a> 2022-2024</p>
    </div>
    </div>
    <div id="container"></div>
</main>
<script>
    let maxWidth = window.innerWidth;
    let maxHeight = window.innerHeight;

    let point_counter = 0;
    let debug = false;
    let pool = []

    function writeMessage(message) {
        // debug
        text.text(message);
    }

    let stage = new Konva.Stage({
        container: 'container',   // id of container <div>
        width: maxWidth,
        height: maxHeight,
        x: 0,
        y: 0
    });

    let layer = new Konva.Layer();

    let ratio = maxWidth > maxHeight ? 1376 / maxHeight : 1200 / maxWidth;
    let xOffset = maxWidth > maxHeight ? (maxWidth - 1200 / ratio) / 2 : 0;
    let yOffset = maxHeight > maxWidth ? (maxHeight - 1376 / ratio) / 2 : 0;

    let valaro = new Image();
    valaro.onload = function () {
        let valaroWidth = 0, valaroHeight = 0;
        if (maxHeight > maxWidth) {
            valaroWidth = maxWidth;
            valaroHeight = 1376 / ratio;
        } else {
            valaroWidth = 1200 / ratio;
            valaroHeight = maxHeight;
        }

        let img = new Konva.Image({
            x: xOffset,
            y: yOffset,
            image: valaro,
            width: valaroWidth,
            height: valaroHeight
        });

        layer.add(img);
    };
    valaro.src = '{{ url_for('static', filename='image/valaro.png') }}';

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    socket.on('data_recv', function(data) {
        let kuler = null;
        pool.forEach(p => {
            if (p.id === data.id) {
                kuler = p.color;
            }
        });
        if (kuler === null) {
            let p = {
                'id': data.id,
                'color': getRandomColor()
            }
            kuler = p.color;
            pool.push(p);
        }
        let temp = new Konva.Circle({
            x: stage.width() / 2,
            y: stage.height() / 2,
            radius: 15, // TODO: scale to page size
            fill: kuler,
            stroke: 'black',
            strokeWidth: 2
        });
        let temp_label = new Konva.Text({
            x: stage.width() / 2 - 10,
            y: stage.height() / 2 - 10,
            text: point_counter++,
            fontSize: 15,
            fontFamily: 'Calibri',
            fill: 'black'
        })
        let corr = maxWidth > maxHeight ? 310 / stage.height() : 270 / stage.width();
        temp.x(data.x / corr + stage.width() / 2);
        temp.y(- data.y / corr + stage.height() / 2);
        temp_label.x(data.x / corr + stage.width() / 2 - 20);
        temp_label.y(- data.y / corr + stage.height() / 2 + 20);
        layer.add(temp);
        layer.add(temp_label);
    });

    // add the layer to the stage
    stage.add(layer);

    if (debug) {
        var text = new Konva.Text({
            x: 10,
            y: 10,
            fontFamily: 'Calibri',
            fontSize: 24,
            text: '',
            fill: 'black',
        });

        layer.add(text);
    }

    // draw the image
    layer.draw();
</script>
</body>
</html>