<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLEASE READ CAREFULLY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consent_style.css') }}">
</head>
<body>
<h1>Confirmation of consent</h1>
<p></p>
<p>This experiment relies on two tools :</p>
<ul>
    <li>A set of questionnaires self-administered on your smartphone</li>
    <li>A free indication of the emotional state by the Spot Your Mood tool via a web browser</li>
</ul>
<p>We are committed to ensuring that no personal data is collected during the survey. The identification of the user is done exclusively on the basis of a cookie stored for the duration of the experience and destroyed once it is over.</p>
<p>By clicking on the 'I have read this page and agree to its contents' button at the bottom of this page, you agree to :</p>
<ul>
    <li>Participate in this survey free of charge,</li>
    <li>Accept the use of the cookie necessary for the proper functioning of the survey data collection system,</li>
    <li>That the survey data be used free of charge exclusively for research purposes,</li>
    <li>That these data are potentially presented to third parties during communications at scientific research conferences or for publication in scientific journals.</li>
</ul>
<div class="vertical">
    <a href="/register">
        <input type="button" name="consent" value="I have read this page and agree to its contents">
    </a>
</div>

</body>
</html>