<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Test post-questionnaire</title>
                <link rel="stylesheet" href="{{url_for('static', filename='css/questionnaires.css')}}"/>
                <script src="{{url_for('static', filename='js/jquery-1.12.4.js')}}"></script>
                <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
            </head>
            <body>
            
        <form method="post" action="/quest_send" name="post_quest_send" id="sym_server_form">
        
        <h1>Test post-questionnaire</h1>
        <p>It's about to finish, but you have a bit more questions here.</p>
        
        <div><h3>Anything to say right now ?</h3>
            <textarea id="comment_test_post" name="comment_test_post" rows="4" cols="50"></textarea>
        </div>
        
        <h1></h1>
        <p>Title section types can also be used for simply displaying text like this</p>
        
        <div class="submitcontainer">
            <input type="submit" id="b_submit" value="Validate">
        </div>
        </form>
        <script>
            $(document).ready(function() {
                $(window).keydown(function(event){
                    if(event.keyCode === 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });
        </script>
        </body>
        </html>