<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Test Pre-questionnaire</title>
                <link rel="stylesheet" href="{{url_for('static', filename='css/questionnaires.css')}}"/>
                <script src="{{url_for('static', filename='js/jquery-1.12.4.js')}}"></script>
                <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
            </head>
            <body>
            
        <form method="post" action="/quest_send" name="pre_quest_send" id="sym_server_form">
        
        <h1>Test Pre-questionnaire</h1>
        <p>This questionnaire is a test, and an example file at the same time. Neat, isn't it ?</p>
        
        <div class="radio">
        <h3>What is your most favorite element ?</h3>
        <div class="radio_el">
            <input type="radio" id="radio_test_0" name="radio_test" value="0"><label for="0">Earth</label></div>
        <div class="radio_el">
            <input type="radio" id="radio_test_1" name="radio_test" value="1"><label for="1">Fire</label></div>
        <div class="radio_el">
            <input type="radio" id="radio_test_2" name="radio_test" value="2"><label for="2">Water</label></div>
        <div class="radio_el">
            <input type="radio" id="radio_test_3" name="radio_test" value="3"><label for="3">Air</label></div></div>
        
        <div class="check">
        <h3>How do you watch movies in general ?</h3>
        <div class="check_el">
            <input type="checkbox" id="check_test_0" name="check_test" value="0"><label for="check_test_0">Theater</label></div>
        <div class="check_el">
            <input type="checkbox" id="check_test_1" name="check_test" value="1"><label for="check_test_1">Television</label></div>
        <div class="check_el">
            <input type="checkbox" id="check_test_2" name="check_test" value="2"><label for="check_test_2">Computer</label></div><div class="textextras">Other : 
                <div class="textinputdiv">
                    <input type="text" id="check_test_extra" name="check_test_extra" cols="40" rows="4">
                </div>
            </div>
            </div>
        
        <div><h3>How do you like visual analog scales (VAS), which is this type of question ?</h3>
        <div class="vas_container">
        <label for="vas_test" class="vaslabel">Not at all</label><input type="range" min="1" max="100" value="50" 
        class="slider" id="vas_test" name="vas_test"><label for="vas_test" class="vaslabel">Love it !</label> 
    </div>
    </div>
    
        <div><h3>Anything to say before we start ?</h3>
            <textarea id="comment_test" name="comment_test" rows="4" cols="50"></textarea>
        </div>
        
        <h1></h1>
        <p>Title section types can also be used for simply displaying text like this</p>
        
        <script>
            $('#sym_server_form').submit(function() {
                if (!(($("input[name='radio_test']:checked") !== null))) {
                    alert('Merci de remplir l\'ensemble des champs marqués d\'un astérisque');
                    return false;
                }
                else return true;
            });            
        </script>
        <div class="submitcontainer">
            <input type="submit" id="b_submit" value="Validate">
        </div>
        </form>
        <script>
            $(document).ready(function() {
                $(window).keydown(function(event){
                    if(event.keyCode === 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });
        </script>
        </body>
        </html>