<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Questionnaire de positionnement</title>
                <link rel="stylesheet" href="{{url_for('static', filename='questionnaires.css')}}"/>
                <script src="{{url_for('static', filename='js/jquery-1.12.4.js')}}"></script>
                <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
            </head>
            <body>
            
        <form method="post" action="/pre_quest_send" name="pre_quest_send" id="sym_server_form">
        
        <h1>Questionnaire de positionnement</h1>
        <p>Ce questionnaire porte sur vos pratiques de navigation sur internet au regard de la Réglementation Générale sur les Données Personnelles (RGPD). Répondez aux questions en cochant la ou les cases qui vous correspondent le mieux ou en remplissant les champs de réponse dédiés.</p>
        
                <div><h3>Merci d'indiquer l'identifiant qui vous a été attribué : </h3>
                <div class="simple_text">
                <div class="textinputdiv"><input type="text" id="single_id" name="single_id" cols="40" rows="4"></div>
            </div>
            </div>
            
        <div class="radio">
        <h3>Comment vous définissez-vous ?</h3>
        <div class="radio_el">
            <input type="radio" id="sex_0" name="sex" value="0"><label for="0">Femme</label></div>
        <div class="radio_el">
            <input type="radio" id="sex_1" name="sex" value="1"><label for="1">Homme</label></div>
        <div class="radio_el">
            <input type="radio" id="sex_2" name="sex" value="2"><label for="2">Non-binaire</label></div></div>
        
        <div class="radio">
        <h3>En moyenne, combien de temps passez-vous par jour sur internet ?</h3>
        <div class="radio_el">
            <input type="radio" id="time_spent_0" name="time_spent" value="0"><label for="0">Je ne vais jamais sur internet</label></div>
        <div class="radio_el">
            <input type="radio" id="time_spent_1" name="time_spent" value="1"><label for="1">Moins d'une heure par jour</label></div>
        <div class="radio_el">
            <input type="radio" id="time_spent_2" name="time_spent" value="2"><label for="2">Entre 1 à 2 heures par jour</label></div>
        <div class="radio_el">
            <input type="radio" id="time_spent_3" name="time_spent" value="3"><label for="3">Entre 2 à 4 heures par jour</label></div>
        <div class="radio_el">
            <input type="radio" id="time_spent_4" name="time_spent" value="4"><label for="4">Plus de 4 heures par jour</label></div></div>
        
        <div class="radio">
        <h3>En moyenne, combien de temps passez-vous par jour sur les réseaux sociaux ?</h3>
        <div class="radio_el">
            <input type="radio" id="rsn_time_0" name="rsn_time" value="0"><label for="0">Je ne vais jamais sur les réseaux sociaux</label></div>
        <div class="radio_el">
            <input type="radio" id="rsn_time_1" name="rsn_time" value="1"><label for="1">Moins d'une heure par jour</label></div>
        <div class="radio_el">
            <input type="radio" id="rsn_time_2" name="rsn_time" value="2"><label for="2">Entre 1 à 2 heures par jour</label></div>
        <div class="radio_el">
            <input type="radio" id="rsn_time_3" name="rsn_time" value="3"><label for="3">Entre 2 à 4 heures par jour</label></div>
        <div class="radio_el">
            <input type="radio" id="rsn_time_4" name="rsn_time" value="4"><label for="4">Plus de 4 heures par jour</label></div></div>
        
        <div class="check">
        <h3>Quels réseaux sociaux utilisez-vous ?</h3>
        <div class="check_el">
            <input type="checkbox" id="rsn_type_0" name="rsn_type" value="0"><label for="rsn_type_0">Facebook</label></div>
        <div class="check_el">
            <input type="checkbox" id="rsn_type_1" name="rsn_type" value="1"><label for="rsn_type_1">Snapchat</label></div>
        <div class="check_el">
            <input type="checkbox" id="rsn_type_2" name="rsn_type" value="2"><label for="rsn_type_2">Instagram</label></div>
        <div class="check_el">
            <input type="checkbox" id="rsn_type_3" name="rsn_type" value="3"><label for="rsn_type_3">Tik Tok</label></div>
        <div class="check_el">
            <input type="checkbox" id="rsn_type_4" name="rsn_type" value="4"><label for="rsn_type_4">Whatsapp</label></div>
        <div class="check_el">
            <input type="checkbox" id="rsn_type_5" name="rsn_type" value="5"><label for="rsn_type_5">LinkedIn</label></div>
        <div class="check_el">
            <input type="checkbox" id="rsn_type_6" name="rsn_type" value="6"><label for="rsn_type_6">Aucun</label></div><div class="textextras">Autre : 
                <div class="textinputdiv">
                    <input type="text" id="rsn_type_extra" name="rsn_type_extra" cols="40" rows="4">
                </div>
            </div>
            </div>
        
        <div class="radio">
        <h3>Quel réseau social utilisez-vous le plus fréquemment ?</h3>
        <div class="radio_el">
            <input type="radio" id="most_used_0" name="most_used" value="0"><label for="0">Facebook</label></div>
        <div class="radio_el">
            <input type="radio" id="most_used_1" name="most_used" value="1"><label for="1">Snapchat</label></div>
        <div class="radio_el">
            <input type="radio" id="most_used_2" name="most_used" value="2"><label for="2">Instagram</label></div>
        <div class="radio_el">
            <input type="radio" id="most_used_3" name="most_used" value="3"><label for="3">Tik Tok</label></div>
        <div class="radio_el">
            <input type="radio" id="most_used_4" name="most_used" value="4"><label for="4">Whatsapp</label></div>
        <div class="radio_el">
            <input type="radio" id="most_used_5" name="most_used" value="5"><label for="5">LinkedIn</label></div>
        <div class="radio_el">
            <input type="radio" id="most_used_6" name="most_used" value="6"><label for="6">Aucun</label></div></div>
        
        <div class="check">
        <h3>Quels dispositifs utilisez-vous pour aller sur internet ?</h3>
        <div class="check_el">
            <input type="checkbox" id="device_0" name="device" value="0"><label for="device_0">Ordinateur</label></div>
        <div class="check_el">
            <input type="checkbox" id="device_1" name="device" value="1"><label for="device_1">Smartphone</label></div>
        <div class="check_el">
            <input type="checkbox" id="device_2" name="device" value="2"><label for="device_2">Tablette</label></div>
        <div class="check_el">
            <input type="checkbox" id="device_3" name="device" value="3"><label for="device_3">Aucun</label></div><div class="textextras">Autre : 
                <div class="textinputdiv">
                    <input type="text" id="device_extra" name="device_extra" cols="40" rows="4">
                </div>
            </div>
            </div>
        
        <div class="check">
        <h3>Quels navigateurs utilisez-vous pour aller sur internet ?</h3>
        <div class="check_el">
            <input type="checkbox" id="browser_0" name="browser" value="0"><label for="browser_0">Google Chrome</label></div>
        <div class="check_el">
            <input type="checkbox" id="browser_1" name="browser" value="1"><label for="browser_1">Mozilla Firefox</label></div>
        <div class="check_el">
            <input type="checkbox" id="browser_2" name="browser" value="2"><label for="browser_2">Opera</label></div>
        <div class="check_el">
            <input type="checkbox" id="browser_3" name="browser" value="3"><label for="browser_3">Microsoft Edge</label></div>
        <div class="check_el">
            <input type="checkbox" id="browser_4" name="browser" value="4"><label for="browser_4">Brave</label></div>
        <div class="check_el">
            <input type="checkbox" id="browser_5" name="browser" value="5"><label for="browser_5">Aucun</label></div><div class="textextras">Autre : 
                <div class="textinputdiv">
                    <input type="text" id="browser_extra" name="browser_extra" cols="40" rows="4">
                </div>
            </div>
            </div>
        
        <div class="check">
        <h3>Parmi les données suivantes, lequelles acceptez-vous de transmettre facilement ?</h3>
        <div class="check_el">
            <input type="checkbox" id="accept_transmit_0" name="accept_transmit" value="0"><label for="accept_transmit_0">Nom et prénom</label></div>
        <div class="check_el">
            <input type="checkbox" id="accept_transmit_1" name="accept_transmit" value="1"><label for="accept_transmit_1">Sexe</label></div>
        <div class="check_el">
            <input type="checkbox" id="accept_transmit_2" name="accept_transmit" value="2"><label for="accept_transmit_2">Âge</label></div>
        <div class="check_el">
            <input type="checkbox" id="accept_transmit_3" name="accept_transmit" value="3"><label for="accept_transmit_3">Adresse email</label></div>
        <div class="check_el">
            <input type="checkbox" id="accept_transmit_4" name="accept_transmit" value="4"><label for="accept_transmit_4">Adresse physique</label></div>
        <div class="check_el">
            <input type="checkbox" id="accept_transmit_5" name="accept_transmit" value="5"><label for="accept_transmit_5">Numéro de téléphone</label></div>
        <div class="check_el">
            <input type="checkbox" id="accept_transmit_6" name="accept_transmit" value="6"><label for="accept_transmit_6">Aucun</label></div><div class="textextras">Autre : 
                <div class="textinputdiv">
                    <input type="text" id="accept_transmit_extra" name="accept_transmit_extra" cols="40" rows="4">
                </div>
            </div>
            </div>
        
        <div class="radio">
        <h3>Vos données personnelles sont-elles utilisées si vous avez donné votre consentement au préalable ?</h3>
        <div class="radio_el">
            <input type="radio" id="consent_use_0" name="consent_use" value="0"><label for="0">Oui</label></div>
        <div class="radio_el">
            <input type="radio" id="consent_use_1" name="consent_use" value="1"><label for="1">Non</label></div></div>
        
        <div class="radio">
        <h3>Le fait de refuser les cookies sur un site internet peut-il vous empêcher d'utiliser certaines fonctionnalités de ce site ?</h3>
        <div class="radio_el">
            <input type="radio" id="accept_cookies_0" name="accept_cookies" value="0"><label for="0">Oui</label></div>
        <div class="radio_el">
            <input type="radio" id="accept_cookies_1" name="accept_cookies" value="1"><label for="1">Non</label></div></div>
        
        <h1>Protection des données personnelles</h1>
        <p>Les mesures techniques et organisationnelles afin de garantir un niveau approprié de sécurité et de confidentialité à vos données personnelles existent. A quel niveau percevez-vous les risques suivants ?</p>
        
        <div><h3>Risques de destruction ou l’altération illicite</h3>
        <div class="vas_container">
        <label for="vas_destruction" class="vaslabel">Aucun risque</label><input type="range" min="1" max="100" value="50" 
        class="slider" id="vas_destruction" name="vas_destruction"><label for="vas_destruction" class="vaslabel">Risque Fort</label> 
    </div>
    </div>
    
        <div><h3>Risque de perte accidentelle de données </h3>
        <div class="vas_container">
        <label for="vas_lost" class="vaslabel">Aucun risque</label><input type="range" min="1" max="100" value="50" 
        class="slider" id="vas_lost" name="vas_lost"><label for="vas_lost" class="vaslabel">Risque Fort</label> 
    </div>
    </div>
    
        <div><h3>Risque de la divulgation</h3>
        <div class="vas_container">
        <label for="vas_divulgation" class="vaslabel">Aucun risque</label><input type="range" min="1" max="100" value="50" 
        class="slider" id="vas_divulgation" name="vas_divulgation"><label for="vas_divulgation" class="vaslabel">Risque Fort</label> 
    </div>
    </div>
    
        <div><h3>Risque de l’accès non autorisé</h3>
        <div class="vas_container">
        <label for="vas_access" class="vaslabel">Aucun risque</label><input type="range" min="1" max="100" value="50" 
        class="slider" id="vas_access" name="vas_access"><label for="vas_access" class="vaslabel">Risque Fort</label> 
    </div>
    </div>
    
        <h1>Connaissances de vos droits en termes de données personnelles</h1>
        <p></p>
        
        <div class="check">
        <h3>Parmi les droits suivants liés à la RGPD, veuillez cocher ceux que vous connaissez :</h3>
        <div class="check_el">
            <input type="checkbox" id="known_rights_0" name="known_rights" value="0"><label for="known_rights_0">Le droit d’accéder aux données personnelles traitées vous concernant</label></div>
        <div class="check_el">
            <input type="checkbox" id="known_rights_1" name="known_rights" value="1"><label for="known_rights_1">Demander la correction ou la mise a jour d’une information incomplète, incorrect ou obsolète</label></div>
        <div class="check_el">
            <input type="checkbox" id="known_rights_2" name="known_rights" value="2"><label for="known_rights_2">Le droit de demander la suppression de vos données personnelles ou leur limitation pour des catégories particulières de traitement</label></div>
        <div class="check_el">
            <input type="checkbox" id="known_rights_3" name="known_rights" value="3"><label for="known_rights_3">Le droit de retirer votre consentement à tout moment</label></div>
        <div class="check_el">
            <input type="checkbox" id="known_rights_4" name="known_rights" value="4"><label for="known_rights_4">Le droit de vous opposer, pour tout ou partie, au traitement de vos données personnelles</label></div>
        <div class="check_el">
            <input type="checkbox" id="known_rights_5" name="known_rights" value="5"><label for="known_rights_5">Le droit de demander la portabilité, c’est-à-dire que les données personnelles que vous nous avez fournies vous soient restituées ou soient transférées à une organisation de votre choix</label></div></div>
        
        <div class="check">
        <h3>Dans la liste suivante, veuillez cocher les droits que vous avez déjà exercé :</h3>
        <div class="check_el">
            <input type="checkbox" id="used_rights_0" name="used_rights" value="0"><label for="used_rights_0">Droit d’accéder aux données personnelles traitées vous concernant</label></div>
        <div class="check_el">
            <input type="checkbox" id="used_rights_1" name="used_rights" value="1"><label for="used_rights_1">Droit de demander leur correction ou leur mise à jour</label></div>
        <div class="check_el">
            <input type="checkbox" id="used_rights_2" name="used_rights" value="2"><label for="used_rights_2">Droit de demander la suppression de vos données personnelles ou leur limitation pour des catégories particulières de traitement</label></div>
        <div class="check_el">
            <input type="checkbox" id="used_rights_3" name="used_rights" value="3"><label for="used_rights_3">Droit de retirer votre consentement à tout moment</label></div>
        <div class="check_el">
            <input type="checkbox" id="used_rights_4" name="used_rights" value="4"><label for="used_rights_4">Droit de vous opposer, pour tout ou partie, au traitement de vos données personnelles</label></div>
        <div class="check_el">
            <input type="checkbox" id="used_rights_5" name="used_rights" value="5"><label for="used_rights_5">Droit à la portabilité, c’est-à-dire que les données personnelles que vous nous avez fournies vous soient restituées ou soient transférées à une organisation de votre choix</label></div></div>
        
        <div class="check">
        <h3>Selon vous, quelles peuvent être les finalités d'un traitement de données personnelles ?</h3>
        <div class="check_el">
            <input type="checkbox" id="finalities_0" name="finalities" value="0"><label for="finalities_0">Envoi d’une newsletter </label></div>
        <div class="check_el">
            <input type="checkbox" id="finalities_1" name="finalities" value="1"><label for="finalities_1">Envoi de sollicitations commerciales</label></div>
        <div class="check_el">
            <input type="checkbox" id="finalities_2" name="finalities" value="2"><label for="finalities_2">Améliorer les réponses que l’on peut vous fournir sur l’offre en ligne</label></div>
        <div class="check_el">
            <input type="checkbox" id="finalities_3" name="finalities" value="3"><label for="finalities_3">Fournir des contenus et services répondant à vos besoins en tant que visiteur sur le site ou la plateforme</label></div><div class="textextras">Autre : 
                <div class="textinputdiv">
                    <input type="text" id="finalities_extra" name="finalities_extra" cols="40" rows="4">
                </div>
            </div>
            </div>
        
        <div class="radio">
        <h3>Si vos données sont partagées avec d’autres sites êtes-vous toujours informé ?</h3>
        <div class="radio_el">
            <input type="radio" id="information_0" name="information" value="0"><label for="0">Oui</label></div>
        <div class="radio_el">
            <input type="radio" id="information_1" name="information" value="1"><label for="1">Non</label></div></div>
        
        <div class="check">
        <h3>Concernant l'usage de cookies sur un site internet, êtes-vous :</h3>
        <div class="check_el">
            <input type="checkbox" id="case_consent_0" name="case_consent" value="0"><label for="case_consent_0">Toujours d'accord</label></div>
        <div class="check_el">
            <input type="checkbox" id="case_consent_1" name="case_consent" value="1"><label for="case_consent_1">D'accord en fonction de la confiance envers le site</label></div>
        <div class="check_el">
            <input type="checkbox" id="case_consent_2" name="case_consent" value="2"><label for="case_consent_2">D'accord en fonction du service proposé</label></div>
        <div class="check_el">
            <input type="checkbox" id="case_consent_3" name="case_consent" value="3"><label for="case_consent_3">Jamais d'accord</label></div></div>
        
        <div class="radio">
        <h3>Les données statistiques sur l’utilisation du site internet et de ses fonctionnalités peuvent être partagées avec les tiers, êtes-vous :</h3>
        <div class="radio_el">
            <input type="radio" id="consent_sharing_0" name="consent_sharing" value="0"><label for="0">D'accord</label></div>
        <div class="radio_el">
            <input type="radio" id="consent_sharing_1" name="consent_sharing" value="1"><label for="1">Pas d'accord</label></div></div>
        
        <h1>Parmi la liste suivante, quels intérêts sont considérés comme légitimes pour le bon fonctionnement d'un site internet :</h1>
        <p></p>
        
        <div class="radio">
        <h3>Faire bénéficier de services de meilleure qualité</h3>
        <div class="radio_el">
            <input type="radio" id="better_services_0" name="better_services" value="0"><label for="0">Intérêt légitime</label></div>
        <div class="radio_el">
            <input type="radio" id="better_services_1" name="better_services" value="1"><label for="1">Non légitime</label></div></div>
        
        <div class="radio">
        <h3>Prévenir la fraude ou les activités criminelles, les mauvaises utilisations de services et assurer la sécurité des systèmes informatiques</h3>
        <div class="radio_el">
            <input type="radio" id="fraud_0" name="fraud" value="0"><label for="0">Intérêt légitime</label></div>
        <div class="radio_el">
            <input type="radio" id="fraud_1" name="fraud" value="1"><label for="1">Non légitime</label></div></div>
        
        <div class="radio">
        <h3>Vendre ou céder les résultats de votre activité à un tiers</h3>
        <div class="radio_el">
            <input type="radio" id="sell_tiers_0" name="sell_tiers" value="0"><label for="0">Intérêt légitime</label></div>
        <div class="radio_el">
            <input type="radio" id="sell_tiers_1" name="sell_tiers" value="1"><label for="1">Non légitime</label></div></div>
        
        <div class="radio">
        <h3>Respecter les objectifs en termes de responsabilité sociale et organisationnelle</h3>
        <div class="radio_el">
            <input type="radio" id="social_resp_0" name="social_resp" value="0"><label for="0">Intérêt légitime</label></div>
        <div class="radio_el">
            <input type="radio" id="social_resp_1" name="social_resp" value="1"><label for="1">Non légitime</label></div></div>
        
        <h1>Portabilité des données personnelles</h1>
        <p></p>
        
        <div class="radio">
        <h3>Consentiriez-vous à utiliser un service de portabilité concurrentielle (ex. lorsque vous changez de fournisseur d’abonnement téléphonique, de banque, d’assurance) :</h3>
        <div class="radio_el">
            <input type="radio" id="concurential_0" name="concurential" value="0"><label for="0">D'accord</label></div>
        <div class="radio_el">
            <input type="radio" id="concurential_1" name="concurential" value="1"><label for="1">Pas d'accord</label></div></div>
        
        <div class="radio">
        <h3>Consentiriez-vous à utiliser un service de portabilité complémentaire (ex. données administratives lors d'un déménagement avec FranceConnect)</h3>
        <div class="radio_el">
            <input type="radio" id="complementary_0" name="complementary" value="0"><label for="0">D'accord</label></div>
        <div class="radio_el">
            <input type="radio" id="complementary_1" name="complementary" value="1"><label for="1">Pas d'accord</label></div></div>
        
        <h1></h1>
        <p>Nous vous remercions du temps que vous nous avez accordé à répondre à ce questionnaire.</p>
        
        <div class="submitcontainer">
            <input type="submit" id="b_submit" value="Valider">
        </div>
        </form>
        <script>
            $(document).ready(function() {
                $(window).keydown(function(event){
                    if(event.keyCode === 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });
        </script>
        </body>
        </html>