<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for your participation !</title>
</head>
<body>
<h1>Thank you for your participation</h1>
<p>The research team thanks you for your participation.</p>
<p>You can now close this page and change the WiFi network on your phone to your liking.</p>
<!-- Special number to track users afterwards if in protocol DO NOT DELETE -->
<p>{{ continuity_number }}</p>
</body>
</html>