<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spot Your Mood</title>
    <script src="{{ url_for('static', filename='js/konva.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

        let socket = io();
        socket.on('connect', function() {
            socket.emit('connection_initiated', {data: getCookie('SYMuserID')});
        });
        //var single_mode = true;
        var current_data = null;
        var single_mode = {{ single_mode }};
        var hold = {{ hold }};

        $(window).on('load', function() {
            $('#modal_start').modal('show');
        });

        function handleModalDataValidate() {
            $('#modal_confirm').modal('hide');
            let modal_waiting = $('#modal_waiting');
            modal_waiting.modal({backdrop: 'static', keyboard: false});

            if (hold) {
                modal_waiting.modal('show');
            }
            socket.emit('data_send', current_data, hold);
        }

        socket.on('sym_reload', function () {
            window.location.reload();
        })
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
<div id="modal_start" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Spot Your Mood</h5>
      </div>
        <div class="modal-body">
        <p style="color: black">Sur le diagramme suivant, veuillez indiquer comment vous vous sentez maintenant en cliquant sur l'écran avec votre doigt ou votre souris.</p>
            <p style="color: black">Si vous avez la moindre question, n'hésitez pas à solliciter la personne en charge de l'expérimentation</p>
      </div>
      <div class="modal-footer">
        <button id="btn_modal_start_validate" type="button" class="btn btn-primary" onclick="$('#modal_start').modal('hide')">J'ai compris</button>
      </div>
    </div>
  </div>
</div>
<div id="modal_confirm" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Valider le point indiqué ?</h5>
      </div>
      <div class="modal-footer">
        <button id="btn_modal_start_validate" type="button" class="btn btn-primary" onclick="handleModalDataValidate()">Valider</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#modal_confirm').modal('hide')">Annuler</button>
      </div>
    </div>
  </div>
</div>
<div id="modal_waiting" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Votre validation a bien été prise en compte</h5>
      </div>
        <div class="d-flex justify-content-center">
            <p style="color: black"> Veuillez suivre les indications de l'expérimentateur. </p>
        </div>
    </div>
  </div>
</div>

<div id="container"></div>
<script>
    let maxWidth = window.innerWidth;
let maxHeight = window.innerHeight;

let debug = false;

function writeMessage(message) {
    // debug
    text.text(message);
}

let stage = new Konva.Stage({
    container: 'container',   // id of container <div>
    width: maxWidth,
    height: maxHeight,
    x: 0,
    y: 0
});

let layer = new Konva.Layer();

let circle = new Konva.Circle({
    x: stage.width() / 2,
    y: stage.height() / 2,
    radius: 15, // TODO: scale to page size
    fill: 'lightgreen',
    stroke: 'black',
    strokeWidth: 2
});

let ratio = maxWidth > maxHeight ? 1376 / maxHeight : 1200 / maxWidth;
let xOffset = maxWidth > maxHeight ? (maxWidth - 1200 / ratio) / 2 : 0;
let yOffset = maxHeight > maxWidth ? (maxHeight - 1376 / ratio) / 2 : 0;

let valaro = new Image();
valaro.onload = function () {
    let valaroWidth = 0, valaroHeight = 0;
    if (maxHeight > maxWidth) {
        valaroWidth = maxWidth;
        valaroHeight = 1376 / ratio;
    } else {
        valaroWidth = 1200 / ratio;
        valaroHeight = maxHeight;
    }

    let img = new Konva.Image({
        x: xOffset,
        y: yOffset,
        image: valaro,
        width: valaroWidth,
        height: valaroHeight
    });

    layer.add(img);
    layer.add(circle);
};
valaro.src = '../static/image/valaro.png';
//valaro.src = '{{ url_for('static', filename='image/valaro.png') }}';

function handleClick() {
    let mousePos = stage.getPointerPosition();
    circle.x(mousePos.x);
    circle.y(mousePos.y);

    let corr = maxWidth > maxHeight ? 310 / stage.height() : 270 / stage.width();
    let imRefXPos = (mousePos.x - stage.width() / 2);
    let imRefYpos = -(mousePos.y - stage.height() / 2);
    let spotX = imRefXPos * corr;
    let spotY = imRefYpos * corr;
    let data = {
        x: Math.round(spotX),
        y: Math.round(spotY),
        id: getCookie('SYMuserID')
    }
    if (debug) {
        writeMessage(Math.round(spotX) + ' ' +  Math.round(spotY));
    }
    if (single_mode) {
        current_data = data;
        $('#modal_confirm').modal('show');
    } else {
        socket.emit('data_send', data);
    }
    //console.log('mouseX', mousePos.x);
    //console.log(corr);
}

stage.on('mouseup', function () {
    handleClick();
});

stage.on('touchend', function () {
    handleClick();
});

// add the layer to the stage
stage.add(layer);

if (debug) {
    var text = new Konva.Text({
        x: 10,
        y: 10,
        fontFamily: 'Calibri',
        fontSize: 24,
        text: '',
        fill: 'black',
    });

    layer.add(text);
}

socket.on("broadcast_next_step", function (isStarting) {
    //let lang = getCookie('SYMuserLang')
    window.location.replace('/');
})

// draw the image
layer.draw();
</script>
</body>
</html>