<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <script src="{{ url_for('static', filename='js/konva.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>
<video id="video_player" width="1280" height="720" controls>
    <source src="{{ url_for('static', filename=video_url) }}" type="video/mp4">
</video>
<script>
    let player = document.querySelector('video');
    player.addEventListener('play', ev => socket.emit('video_start'));
    player.addEventListener('pause', ev => socket.emit('video_paused'));
    player.addEventListener('ended', ev => socket.emit('video_end'));

    document.body.onkeyup = function (e) {
        if (e.keyCode === 32) {
            player.play();
        }
    }

    document.body.ontouchend = function () {
        player.play();
    }

    socket.on('req_play', function () {
       player.play();
    });

    socket.on('req_pause', function () {
        player.pause();
    });
</script>
</body>
</html>